<div *ngFor="let pizza of pizzas | async">
    <div>
        <img src="../assets/pizza.png" width="100px">

        <h3>Pizza ID: {{ pizza.id }} </h3>

        <p>Selected size: {{ pizza.size }}</p>

        <button mat-raised-button color="primary" *ngFor="let sizeKey of availablePizzaSizes"
                [color]="pizza.size == PizzaSize[sizeKey] ? 'primary': ''"
                (click)="updatePizzaSize(pizza.id, PizzaSize[sizeKey])">
            {{PizzaSize[sizeKey]}}
        </button>

        <p>Selected ingredients are: {{pizza.ingredients}}</p>
        <button mat-raised-button *ngFor="let ingredientKey of availablePizzaIngredients"
                [color]="pizza.ingredients.includes(PizzaIngredient[ingredientKey]) ? 'primary' : ''"
                (click)="toggleSelectedIngredient(pizza.id, PizzaIngredient[ingredientKey])">
            {{PizzaIngredient[ingredientKey]}}
        </button>
    </div>

    <div>
        <button mat-raised-button color="warn" (click)="deletePizza(pizza.id)">Delete Pizza</button>
    </div>
</div>


<button mat-raised-button color="primary" (click)="createPizza()">Create new Pizza</button>
